<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="/assets/icons/logo-colored.svg" alt="Логотип" />
    </div>

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="/">Главная</a>
        </li>
        <li class="header__menu-item active-link">
          <a href="/catalog.html">Каталог</a>
        </li>
        <li class="header__menu-item">
          <a href="/about.html">О нас</a>
        </li>
        <li class="header__menu-item">
          <a href="/contacts.html">Контакты</a>
        </li>
        <li class="header__menu-item">
          <a href="tel:+79525005050">+7 (952) 500-50-50</a>
        </li>
      </ul>
    </nav>

    <div class="header__buttons">
      <button class="header__icon-btn" id="search-button" aria-label="Поиск">
        <img src="/assets/icons/search.svg" alt="Поиск" />
      </button>
      <a class="header__icon-btn header__cart-btn" href="/cart.html" aria-label="Корзина">
        <img src="/assets/icons/cart.svg" alt="Корзина" />
        <span class="header__cart-count">0</span>
      </a>
      <button class="header__icon-btn header__burger-btn" aria-label="Меню">
        <img class="header__burger" src="/assets/icons/burger.svg" alt="Меню" />
      </button>
    </div>
  </div>

  <!-- Поиск -->

  <search class="search" id="mainSearch">
    <div class="search__container">
      <div class="search__content">
        <div class="search__search-bar">
          <div class="search-bar__input">
            <div class="search-bar__input-icon">
              <img src="/assets/icons/search.svg" alt="Поиск" />
            </div>
            <input type="text" name="search" placeholder="Что ищем?" />
          </div>
          <div class="search-bar__close-icon">
            <img src="/assets/icons/close-icon.svg" alt="Закрыть" />
          </div>
        </div>
        <div class="search__description">
          <div class="search__message search__message--empty">
            <div class="search__message-line">Начните что‑нибудь вводить</div>
            <div class="search__message-line search__message-line--secondary">
              Начните писать запрос в поисковой строке выше, а здесь появятся результаты поиска
            </div>
          </div>
        </div>
        <!-- Результаты поиска  -->
        <div class="search__success">
          <div class="search__success-header">
            <span class="success-header-count">Найдено 24 товара</span>
            <a class="success-header-link" href="/search-results.html">Показать всё</a>
          </div>
          <ul class="search__success-list"></ul>
        </div>
      </div>
    </div>
  </search>

  <!-- Меню  -->

  <div class="menu" id="mainMenu">
    <div class="menu__container">
      <div class="menu__header">
        <img src="assets/icons/logo-colored.svg" alt="Лого" />
        <div class="menu__header-buttons">
          <button class="icon-btn icon-btn--search" aria-label="Поиск">
            <img src="assets/icons/search.svg" alt="Поиск" />
          </button>
          <button class="icon-btn icon-btn--cart" aria-label="Корзина">
            <img src="assets/icons/cart.svg" alt="Корзина" />
          </button>
          <button class="icon-btn icon-btn--close" aria-label="Закрыть">
            <img src="assets/icons/close-icon.svg" alt="Закрыть" />
          </button>
        </div>
      </div>
      <div class="menu__content">
        <ul class="menu__content-list">
          <li class="active-link"><a href="/">Главная</a></li>
          <li><a href="/catalog.html">Каталог</a></li>
          <li><a href="/about.html">О нас</a></li>
          <li><a href="/contacts.html">Контакты</a></li>
          <li><a href="tel:+79525005050">+7 (952) 500-50-50</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
