.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem 1rem 5.25rem 1rem;
}

.error__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__code {
  font-size: 25rem;
  font-weight: 400;
  letter-spacing: -0.05em;
}

.error__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 34.125rem;
  gap: 1.5rem;
}

.error__title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -0.05em;
  margin: 0;
}

.error__message {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-align: center;
  margin: 0;
}

.error__button {
  background-color: #252324;
  border: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.03em;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s;
}

.error__button:hover {
  background-color: black;
}

@media (max-width: 480px) {
  .main {
    height: calc(100vh - 10rem);
  }

  .error {
    padding: 0 1rem 0 1rem;
  }

  .error__code {
    font-size: 12.5rem;
  }

  .error__title {
    font-size: 1.75rem;
  }

  .error__message {
    margin-bottom: 0.5rem;
  }

  .error__content {
    max-width: 90%;
    gap: 1rem;
  }
}

@media (max-width: 360px) {
  .error__code {
    font-size: 8.75rem;
  }

  .error__title {
    font-size: 1.5rem;
  }

  .error__message {
    font-size: 0.875rem;
  }

  .error__button {
    padding: 0.75rem 1.25rem;
    font-size: 0.875rem;
  }
}
