* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/Gotham Pro/gothampro_light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/Gotham Pro/gothampro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/Gotham Pro/gothampro_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/Gotham Pro/gothampro_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 0.3rem;
  list-style-type: none;
  font-size: calc(16 * (100vw / 1920));

  @media (max-width: 1440px) {
    font-size: calc(16 * (100vw / 1440));
  }

  @media (max-width: 960px) {
    font-size: calc(16 * (100vw / 960));
  }

  @media (max-width: 768px) {
    font-size: calc(16 * (100vw / 768));
  }

  @media (max-width: 480px) {
    font-size: calc(16 * (100vw / 480));
  }

  @media (max-width: 360px) {
    font-size: calc(16 * (100vw / 360));
  }
}

body {
  font-family: "Gotham Pro", sans-serif;
  background-color: #fcf7f3;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}
