* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/Gotham Pro/gothampro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/Gotham Pro/gothampro_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../assets/fonts/Gotham Pro/gothampro_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 0.3rem;
  list-style-type: none;
  font-size: 16px; 
}

body {
  font-family: "Gotham Pro", sans-serif;
  background-color: #fcf7f3;
}

a {
  text-decoration: none;
}

button:hover {
  opacity: 0.9;
  transition: all 0.3s;
  cursor: pointer;
}
