.main {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5.25rem 3rem 12.5rem 3rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.contacts__title {
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: -0.08em;
}

.contacts__list {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.contacts__list-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  height: 20.938rem;
  background-color: #f1ebe6;
  padding: 2rem;
  border: none;
  border-radius: 8px;
}

.list-item__content-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item__content-block span {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #667085;
}

.list-item__content-block p {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #121011;
}

.list-item__content-block address {
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: #000000;
  font-style: normal;
}

/* Адаптив  */

@media (min-width: 2120px) {
  .main {
    max-width: 1920px;
  }
}

@media (min-width: 1439px) and (max-width: 1700px) {
  .main {
    padding: 5.25rem 5rem 12.5rem 5rem;
  }
}

@media (max-width: 640px) {
  .main {
    padding: 3rem 1rem 6.25rem 1rem;
  }

  .contacts__title {
    font-size: 3.125rem;
  }

  .contacts__list {
    flex-direction: column;
  }

  .contacts__list-item {
    width: 100%;
    height: auto;
  }
}
