<footer class="footer">
  <div class="footer__container">
    <!-- Фоновые линии  -->
    <div class="footer-vertical-line footer-vertical-line--left"></div>
    <div class="footer-vertical-line footer-vertical-line--center-left"></div>
    <div class="footer-vertical-line footer-vertical-line--center-right"></div>
    <div class="footer-vertical-line footer-vertical-line--right"></div>
    <div class="footer-horizontal-line footer-horizontal-line--center-bottom"></div>

    <div class="footer__content">
      <div class="footer__subscription-block">
        <h2>
          Полезная информация <br />
          и новинки
        </h2>
        <div class="footer__subscription-block-mailing">
          <p>Подписывайтесь на рассылку, чтобы узнавать о новых изделиях, индивидуальных решениях и обновлениях ассортимента.</p>
          <div>
            <input type="email" placeholder="Введите вашу почту" />
            <img src="/assets/icons/link-icon.svg" alt="Отправить" />
          </div>
        </div>
      </div>
      <div class="footer__info-block">
        <div class="footer__info-block-contacts">
          <img class="footer__info-block-contacts-logo" src="/assets/icons/logo.svg" alt="Логотип" />
          <div class="footer__info-block-contacts-details">
            <p class="footer__info-block-contacts-phone">+7 (952) 500-50-50</p>
            <p class="footer__info-block-contacts-email">name@mail.ru</p>
          </div>
        </div>

        <div class="footer__info-block-links">
          <div class="footer__info-block-catalog">
            <h3>Каталог</h3>
            <nav>
              <a href="/catalog/barbecues.html">Мангалы и барбекю</a>
              <a href="/catalog/cookers.html">Комплексы и печи</a>
              <a href="/catalog/bowls.html">Костровые чаши</a>
              <a href="/catalog/garden.html">Для участка</a>
            </nav>
            <span class="inn">ИНН: 00000000000</span>
          </div>
          <div class="footer__info-block-info">
            <h3>Информация</h3>
            <nav>
              <a href="/about.html">О нас</a>
              <a href="/contacts.html">Контакты</a>
              <a href="/policy.html">Политика конфиденциальности</a>
            </nav>
            <span>ОГРН: 00000000000</span>
            <span class="inn-mobile">ИНН: 00000000000</span>
          </div>
        </div>

        <div class="footer__info-block-buttons">
          <div class="footer__info-block-socials">
            <a class="footer__info-block-socials-link" href="#">
              <img src="/assets/icons/vk-link.svg" alt="ВК" />
            </a>
            <a class="footer__info-block-socials-link" href="#">
              <img class="tg-link" src="/assets/icons/tg-link.svg" alt="Телеграм" />
            </a>
          </div>
          <a href="#" class="footer__info-block--up-button">
            <img src="/assets/icons/link-icon.svg" alt="Наверх" />
          </a>
        </div>
      </div>
      <div class="footer__meta-info">
        <p>ТехФерро. Все права защищены</p>
        <p class="footer__meta-info--year">2026</p>
      </div>
    </div>
  </div>
</footer>
