.footer {
  display: flex;
  flex-direction: column;
  min-height: 53.5rem;
  background-color: #252324;
  position: relative;
}

/* Круг */
.footer::before {
  content: "";
  position: absolute;
  top: 49.75%;
  left: 20.5%;
  transform: translate(-50%, -50%);
  width: 53.643rem;
  height: 100%;
  border: 1px solid #ffffff33;
  border-radius: 50%;
  pointer-events: none;
}

.footer__container {
  height: 100%;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__subscription-block {
  display: flex;
  gap: 10.8rem;
  padding: 5rem 4rem;
}

.footer__subscription-block h2 {
  font-size: 3.333rem;
  font-weight: 400;
  letter-spacing: -0.05em;
  color: white;
  padding-left: 0.5rem;
}

.footer__subscription-block-mailing {
  display: flex;
  flex-direction: column;
  gap: 2.917rem;
  margin-top: 0.75rem;
  max-width: 45.25rem;
}

.footer__subscription-block-mailing p {
  font-size: 1.333rem;
  line-height: 1.4;
  letter-spacing: -0.05em;
  color: white;
}

.footer__subscription-block-mailing div {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
  max-width: 34rem;
}

.footer__subscription-block-mailing div input {
  background: transparent;
  border: none;
  border-bottom: 1.33px solid #ffffff33;
  outline: none;
  width: 100%;
  padding: 1.25rem 0 1.25rem 0.333rem;
  font-size: 1.333rem;
  color: white;
  letter-spacing: -0.05em;
  max-width: 27.917rem;
  transition: all 0.2s ease;
}

.footer__subscription-block-mailing div input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.333rem;
  letter-spacing: -0.05em;
}

.footer__subscription-block-mailing div input:focus {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.footer__subscription-block-mailing div input:hover {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.footer__subscription-block-mailing div img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3.75rem;
  height: 3.75rem;
  padding: 1.375rem;
  background-color: #ffffff1a;
  border-radius: 1.25rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.footer__subscription-block-mailing div img:hover {
  opacity: 0.7;
}

.footer__info-block {
  display: flex;
  gap: 9.8rem;
  padding: 1rem 4rem 1.5rem 4rem;
}

.footer__info-block-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20.5rem;
  min-width: 37.5rem;
}

.footer__info-block-contacts-logo {
  width: 13.25rem;
  margin-top: -1rem;
}

.footer__info-block-contacts-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__info-block-contacts-phone,
.footer__info-block-contacts-email {
  font-size: 3.333rem;
  color: white;
  letter-spacing: -0.05em;
  width: fit-content;
}

.footer__info-block-links {
  display: flex;
  gap: 6rem;
}

.footer__info-block-catalog,
.footer__info-block-info {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.footer__info-block-catalog h3,
.footer__info-block-info h3 {
  font-size: 1.333rem;
  font-weight: 400;
  color: #ffffff80;
  letter-spacing: -0.05em;
  line-height: 1.4;
}

.footer__info-block-catalog nav,
.footer__info-block-info nav {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.footer__info-block-catalog nav {
  margin-bottom: 2.25rem;
}

.footer__info-block-info nav {
  margin-bottom: 5rem;
}

.footer__info-block-catalog a,
.footer__info-block-info a {
  display: block;
  width: fit-content;
  padding: 0.25rem 0;
  font-size: 1.333rem;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.1;
  letter-spacing: -0.05em;
  transition: color 0.2s ease;
}

.footer__info-block-catalog a:hover,
.footer__info-block-info a:hover {
  color: #e64410;
}

.footer__info-block-catalog span,
.footer__info-block-info span {
  color: #ffffff80;
  font-size: 1.333rem;
  line-height: 1.4;
  letter-spacing: -0.05em;
}

.footer__info-block-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.footer__info-block-socials {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer__info-block-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 0.833rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  transition: all 0.2s ease;
}

.footer__info-block-socials-link:hover {
  opacity: 0.7;
}

.footer__info-block-socials-link img {
  width: 2.313rem;
  height: 2.313rem;
}

.tg-link {
  width: 1.75rem !important;
  height: 1.75rem !important;
}

.footer__info-block--up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.625rem;
  height: 4.625rem;
  border: none;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: all 0.2s ease;
}

.footer__info-block--up-button img {
  width: 1.125rem;
  height: 1.125rem;
  transform: rotate(-45deg);
}

.footer__info-block--up-button:hover {
  opacity: 0.7;
}

.footer__meta-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.footer__meta-info p {
  font-size: 1.333rem;
  line-height: 1.1;
  letter-spacing: -0.05em;
  color: white;
}

/* Фоновые линии */
.footer-vertical-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.33px;
  background-color: #ffffff4d;
  pointer-events: none;
}

.footer-horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1.33px;
  background-color: #ffffff4d;
  pointer-events: none;
}

.footer-vertical-line--left {
  left: 4rem;
}

.footer-vertical-line--center-left {
  left: 51.25rem;
}

.footer-vertical-line--center-right {
  right: 24.625rem;
}

.footer-vertical-line--right {
  right: 4rem;
}

.footer-horizontal-line--center-bottom {
  bottom: 29rem;
}

/* Адаптив */

@media (max-width: 1440px) {
  .footer__subscription-block {
    gap: 6rem;
    padding: 4rem 3rem;
  }

  .footer__subscription-block h2 {
    font-size: 2.8rem;
  }

  .footer__info-block {
    gap: 5rem;
    padding: 1rem 3rem 1.5rem 3rem;
  }

  .footer__info-block-contacts {
    min-width: 30rem;
  }

  .footer__info-block-contacts-phone,
  .footer__info-block-contacts-email {
    font-size: 2.8rem;
  }

  .footer__info-block-links {
    gap: 4rem;
  }

  .footer-vertical-line--center-left {
    left: 40rem;
  }

  .footer-vertical-line--center-right {
    right: 18rem;
  }

  .footer-vertical-line--left {
    left: 3rem;
  }

  .footer-vertical-line--right {
    right: 3rem;
  }

  .footer__meta-info {
    padding: 0 3rem;
  }
}

@media (max-width: 960px) {
  .footer {
    min-height: auto;
  }

  .footer::before {
    display: none;
  }

  .footer__subscription-block {
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  .footer__subscription-block h2 {
    font-size: 2rem;
    padding-left: 0;
  }

  .footer__subscription-block-mailing {
    max-width: 100%;
    margin-top: 0;
  }

  .footer__subscription-block-mailing div {
    max-width: 100%;
  }

  .footer__subscription-block-mailing div input {
    max-width: 85%;
  }

  .footer__info-block {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 2rem;
  }

  .footer__info-block-contacts {
    min-width: auto;
    height: auto;
    gap: 2rem;
  }

  .footer__info-block-contacts-details {
    gap: 0.75rem;
  }

  .footer__info-block-contacts-logo {
    margin-top: 0;
  }

  .footer__info-block-contacts-phone,
  .footer__info-block-contacts-email {
    font-size: 2.5rem;
  }

  .footer__info-block-links {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .footer__info-block-buttons {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    gap: 2rem;
  }

  .footer__info-block-socials {
    order: 1;
  }

  .footer__info-block--up-button {
    order: 2;
  }

  .footer__meta-info {
    text-align: center;
    padding: 2rem 2rem;
  }

  .footer-vertical-line--center-left,
  .footer-vertical-line--center-right {
    display: none;
  }

  .footer-vertical-line--left,
  .footer-vertical-line--right {
    display: none;
  }

  .footer-horizontal-line--center-bottom {
    display: none;
  }
}

@media (max-width: 480px) {
  .footer__subscription-block {
    padding: 2rem 1.5rem;
  }

  .footer__subscription-block h2 {
    font-size: 1.75rem;
  }

  .footer__subscription-block-mailing p {
    font-size: 1rem;
  }

  .footer__subscription-block-mailing div input {
    font-size: 1rem;
    padding: 0.875rem 0;
  }

  .footer__subscription-block-mailing div input::placeholder {
    font-size: 1rem;
  }

  .footer__subscription-block-mailing div img {
    position: static;
    width: 3rem;
    height: 3rem;
    padding: 0.875rem;
  }

  .footer__info-block {
    padding: 1.5rem;
  }

  .footer__info-block-contacts-phone,
  .footer__info-block-contacts-email {
    font-size: 1.5rem;
  }

  .footer__info-block-contacts-logo {
    width: 10rem;
  }

  .footer__info-block-links {
    flex-direction: column;
    gap: 2rem;
  }

  .footer__info-block-catalog h3,
  .footer__info-block-info h3 {
    font-size: 1.125rem;
  }

  .footer__info-block-catalog a,
  .footer__info-block-info a,
  .footer__info-block-catalog span,
  .footer__info-block-info span {
    font-size: 1rem;
  }

  .footer__info-block-catalog nav {
    margin-bottom: 1rem;
  }

  .footer__info-block-info nav {
    margin-bottom: 1rem;
  }

  .footer__info-block-socials {
    justify-content: center;
  }

  .footer__info-block--up-button {
    align-self: center;
    width: 3.5rem;
    height: 3.5rem;
  }

  .footer__info-block--up-button img {
    width: 0.875rem;
    height: 0.875rem;
  }

  .footer__info-block-socials-link {
    width: 3rem;
    height: 3rem;
  }

  .footer__info-block-socials-link img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .tg-link {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }

  .footer__meta-info {
    padding: 1.5rem;
  }

  .footer__meta-info p {
    font-size: 0.875rem;
  }
}

@media (max-width: 360px) {
  .footer__subscription-block {
    padding: 1.5rem 1rem;
  }

  .footer__subscription-block h2 {
    font-size: 1.5rem;
  }

  .footer__subscription-block-mailing p {
    font-size: 0.875rem;
  }

  .footer__subscription-block-mailing div input {
    font-size: 0.875rem;
  }

  .footer__subscription-block-mailing div input::placeholder {
    font-size: 0.875rem;
  }

  .footer__info-block {
    padding: 1rem;
  }

  .footer__info-block-contacts-phone,
  .footer__info-block-contacts-email {
    font-size: 1.25rem;
    word-break: break-word;
  }

  .footer__info-block-contacts-logo {
    width: 8rem;
  }

  .footer__info-block-links {
    gap: 1.5rem;
  }

  .footer__info-block-catalog h3,
  .footer__info-block-info h3 {
    font-size: 1rem;
  }

  .footer__info-block-catalog a,
  .footer__info-block-info a,
  .footer__info-block-catalog span,
  .footer__info-block-info span {
    font-size: 0.875rem;
  }

  .footer__info-block-socials {
    gap: 0.5rem;
  }

  .footer__info-block-socials-link {
    width: 2.5rem;
    height: 2.5rem;
  }

  .footer__info-block-socials-link img {
    width: 1.25rem;
    height: 1.25rem;
  }

  .tg-link {
    width: 1rem !important;
    height: 1rem !important;
  }

  .footer__info-block--up-button {
    width: 3rem;
    height: 3rem;
  }

  .footer__meta-info {
    padding: 1rem;
  }

  .footer__meta-info p {
    font-size: 0.75rem;
  }
}
