.main {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5.25rem 3rem 20.5rem 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 55rem;
  margin: auto;
}

.content h2 {
  font-size: 3.5rem;
  letter-spacing: -0.08em;
}

.content p,
.content section p {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

.content section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content section h3 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: -0.05em;
}

.list-item {
  display: block;
  position: relative;
  padding-left: 1.5rem;
}

.list-item::before {
  content: "•";
  position: absolute;
  left: 0.5rem;
  color: inherit;
  font-size: 1rem;
}

/* Адаптив  */

@media (max-width: 960px) {
  .main {
    padding: 5.25rem 3rem 20.5rem 3rem;
  }

  .content {
    width: 100%;
    max-width: 53.938rem;
    gap: 2.5rem;
  }

  .content h2 {
    font-size: 3.5rem;
  }

  .content section h3 {
    font-size: 1.5rem;
  }

  .content p,
  .content section p {
    font-size: 1rem;
    line-height: 1.6;
  }

  .list-item {
    padding-left: 1.25rem;
  }

  .list-item::before {
    left: 0.25rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 5.25rem 1rem 12.5rem 1rem;
  }

  .content {
    gap: 2.5rem;
  }

  .content h2 {
    font-size: 2.5rem;
  }

  .content section {
    gap: 1.5rem;
  }

  .content section h3 {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .content p,
  .content section p {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: -0.05em;
  }

  .list-item {
    padding-left: 1.125rem;
  }

  .list-item::before {
    left: 0;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .main {
    padding: 5.25rem 1rem 6.25rem 1rem;
  }

  .content {
    gap: 2.5rem;
  }

  .content h2 {
    font-size: 2rem;
  }

  .content section h3 {
    font-size: 1.5rem;
  }

  .content p,
  .content section p {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: -0.05em;
  }

  .list-item {
    padding-left: 1rem;
  }

  .list-item::before {
    left: 0;
    font-size: 0.875rem;
  }
}
