.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.875rem 3rem 12.5rem;
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.card-header-nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.link {
  color: #667085;
  line-height: 1.4;
  letter-spacing: -0.05em;
  transition: all 0.2s ease;
}

.current-link {
  color: #000000;
}

.main-link:hover {
  color: black;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}

.card-details {
  display: flex;
  gap: 2.5rem;
  max-height: 60rem;
}

.card-gallery {
  display: flex;
  gap: 1rem;
  height: 42.5rem;
  width: 47.375rem;
}

.card-gallery--list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 8.75rem;
  height: 42.5rem;
  overflow-y: auto;
}

.card-gallery--list::-webkit-scrollbar {
  display: none;
}

.card-gallery--list-item {
  width: 100%;
  min-height: 11.25rem;
  max-height: 11.25rem;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

.card-gallery--list-item:hover {
  border: 1px solid #000000;
  cursor: pointer;
}

.list-item--active {
  border: 1px solid #000000;
}

.card-gallery--list-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-gallery--main-image {
  width: 37.625rem;
  height: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  width: 34.313rem;
}

.card-title-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #121011;
}

.card-title-container h1,
.card-title-container h2 {
  line-height: 1.2;
  letter-spacing: -0.05em;
}

.card-title-container h2 {
  font-size: 1rem;
}

.card-title-container h1 {
  font-size: 1.5rem;
}

.card-price-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.card-price-container p {
  font-size: 2rem;
  letter-spacing: -0.05em;
  color: black;
}

.card-price-container button {
  width: 100%;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.03em;
  background-color: #252324;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
}

.card-price-container button:hover {
  background-color: black;
}
