.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.875rem 3rem 12.5rem;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card__header-nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.link {
  color: #667085;
  line-height: 1.4;
  letter-spacing: -0.05em;
  transition: all 0.2s ease;
}

.current-link {
  color: #000000;
}

.main-link:hover {
  color: black;
  cursor: pointer;
}
